[build]
  publish = "dist"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "20"

[[redirects]]
  from = "/auth/callback"
  to = "/auth/callback"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200